<!-- <div class="body">
  <div class="about-container">
    <h1> Welcome to the World of Knowledge! </h1>
    <h2>Learn. Advance. Succeed.</h2>
    <p class="highlight">
      Here you'll find <strong>hundreds of professional courses</strong> in any field you desire,
      with the <strong>best instructors</strong>, anytime, anywhere!
    </p>
    <p>
      <strong>Learn at your own pace</strong> – whenever it's convenient for you <br>
      <strong>High-quality and focused content</strong> to propel you forward <br>
      <strong>Experienced instructors to guide you all the way to success</strong> <br>
      <strong>Access from any device, anywhere in the world</strong>
    </p>
    <p class="cta"> Join now and embark on an exciting journey of learning! </p>
  </div>
</div>

<router-outlet></router-outlet> -->

<div class="body">
  <div class="about-container">
    <h1> Welcome to the world of courses! </h1>
    <h2>Learn. Advance. Succeed.</h2>
    <p class="highlight">
      Here you'll find <span class="highlight-text">hundreds of professional courses</span> in any field you want, with the 
      <span class="highlight-text">best lecturers and tutors.</span>
    </p>
    <p>
      <span class="highlight-text">Learn at your own pace</span> – whenever it's convenient for you <br>
      <span class="highlight-text">Experienced instructors to guide you all the way to success</span> <br>
      <span class="highlight-text">Access from any device, anywhere in the world</span>
    </p>
    <p class="cta"> Join the best and leading courses in the world now! </p>
  </div>
</div>

<router-outlet></router-outlet>
